@media (max-width: 810px) {
  .navigation ul li {
    display: none;
  }

  .header-content {
    height: 30rem;
  }
}

@media (max-width: 500px) {
  .header-content-description p {
    padding: 0 4rem;
  }

  .header-content-title h1 {
    font-size: 2.2rem !important;
  }

  .header-content-description p {
    font-size: 0.8rem !important;
  }

  .header-content-information {
    display: none;
  }

  .header-content-user img {
    width: 200px !important;
  }

  .devs-about-first-information {
    padding: 0 2rem;
    text-align: center;
  }

  .devs-about-first-title {
    padding: 0 1rem;
  }

  .header-content .header-content-information {
    padding-top: 1rem;
  }

  .devs-about-first-information {
    display: none;
  }
}

@media (max-width: 1000px) {
  .devs-about-second-icons-inside {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 2rem;
    margin: 2rem;
  }

  .devs-about {
    margin-top: 3rem;
  }

  .devs-about-second-icons-inside:last-child {
    display: none;
  }

  .boxes:first-child,
  .boxes:last-child {
    display: none !important;
  }

  .boxes {
    flex: 0 0 60% !important;
    max-width: 60% !important;
  }

  .what-we-offer {
    margin-top: 3rem;
  }
}
